@page
@model AdminLTE3.Pages.SearchSimpleModel
@{
    Layout = "_LayoutMain";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <h2 class="text-center display-4">Search</h2>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="SearchSimpleResult">
                    <div class="input-group">
                        <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-lg btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section BODY_SCRIPT{ 


<script>


    $('#li_search').addClass('menu-open');
    $('#a_search').addClass('active');
    $('#a_searchsimple').addClass('active');

</script>


}